@mixin main-content-width() {
	width: 100%;
	max-width: 1000px;
	padding: 0 10px;
	box-sizing: border-box;
	margin: 50px auto;
}
@mixin sign-content-width() {
	width: 100%;
	max-width: 500px;
	padding: 0 10px;
	box-sizing: border-box;
	margin: 50px auto;
}
